# clion debug directory
cmake-build*
.idea

# 3rdparty directory
3rdparty*/

# CMake build directory
build*/

# Backup files.
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# MACOSX
.DS_Store

# IDE
.vs
.vscode

# Python
*.egg-info/
__pycache__/


# msp
out*/
3rdparty
